<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email</title>
    <link rel="stylesheet" href="style.css">
    <!-- Vue.js library -->
    <script src="https://unpkg.com/vue@3.3.8/dist/vue.global.js"></script>
    <!-- Axios library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>Vue Email List</h1>
        
        <br>

        <button @click="generaEmail">Genera email</button>

        <br>

        <ul v-if="userEmail.length > 9">
            <li v-for="item in userEmail">{{ item }}</li>
        </ul>               
    </div>
    <script src="main.js"></script>
</body>
</html>